@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container_padding {
  padding-left: 18% !important;
  padding-right: 18% !important;
}
@media only screen and (max-width: 1800px) {
  .container_padding {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  .navbar{
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
}
@media only screen and (max-width: 1440px) {
  .container_padding {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .navbar {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}
@media only screen and (max-width: 1240px) {
  .container_padding {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .navbar {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}

@media only screen and (max-width: 760px) {
 .mob_img{
   max-width: 30% !important;
 }
}